
<div class="row">
	<div class="span6 offset">
		<h1><%= @board.name %></h1>
		<div><%= @board.timezone %></div>
		<div><%= "Created by user: #{@board.user.name}" %></div>
		<div><%= "Board width: #{pluralize(@board.width, 'tile')}" %></div>
		<div><%= "Board height: #{pluralize(@board.height, 'tile')}" %></div>
		<%= button_to "Create new Ad", new_board_advertisement_path(@board), class: "btn btn-large btn-primary", method: "get" %>
		<div class="board" style="width: <%= Integer(@board.width) * 64 %>px; height: <%= Integer(@board.height) * 64 %>px; border-style:solid; border-color:black;border-width:3px;position: relative;">
		<div class="ad_container" style="width: <%= Integer(@board.width) * 64 %>px; height: <%= Integer(@board.height) * 64 %>px; position: relative;">
			<% @board.advertisements.each do |ad| %>
				<img src="<%= url_for(:controller => "images", :action => "show", :id => ad.id)%>" id="<%= "ad_#{ad.id}_image" %>" style="position: absolute; left: <%= ad.x_location * 64 %>px; top: <%= ad.y_location * 64 %>px; z-index: <%= ad.id %>; width: <%= ad.width * 64 %>px; height: <%= ad.height * 64 %>px; padding: 0px; margin:0px;">
			<% end %>
		<h2>Advertisements on board</h2>
		<ul class="advertisements">
		  <% @board.advertisements.each do |ad| %>
		  <li>
			<%= "Username: #{ad.user.name}" %> |
			<%= "Ad width: #{pluralize(ad.width, 'tile')}" %> |
			<%= "Ad height: #{pluralize(ad.height, 'tile')}" %> |
			<%= "X Location: #{ad.x_location}" %> |
			<%= "Y Location: #{ad.y_location}" %> 
		  </li>
		   <% end %>
		</ul>
	</div>
</div>
